version: '3.9'

services:
  nestjs-app:
    build: .
    container_name: nestjs-app
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      NODE_ENV: development
    command: npm run start:dev
